body{
    margin-top: 100px;
    background-color: rgb(204, 165, 118);
    text-align: center;
    
    
    
    
}

marquee{
    font-size: 50px;
    margin-bottom: 30px;
    color:white;
    display: flex;
    
}

.inside{
    width: 35%;
    height: 35%;
    padding-bottom: 7%;
    background-image: url(image2.webp);
    border-radius: 20px;
 
    
    
}

img{
    width:10px;
    height: 10px;
    
}

input{
    width:220px;
    padding:10px 10px 10px 10px;
    border-radius: 10px;
    
    
}

.last{
    justify-content: center;
    width: 35%;
    padding-top: 10px;
    background-color: rgb(136, 182, 91);
    
}

.full{
    text-align: center;
    
}


