body {
    margin: 0px;
    background-color: black;
    color:whitesmoke;
}

h3 {

    text-align: center;
}

tr:nth-child(2n+1){
    background-color: lightgrey;
}
tr:nth-child(2n){
    background-color: grey;
}


table{
    justify-content: center;
    width: 100%;
    
}