body{
    margin: 0px;
    
}

#start {
    background-color: black;
    color: whitesmoke;
    line-height: 200%;
    margin-bottom: 0%;
    
}

input {
    width: 50%;
    
}

button:hover {
    color:yellow;
    background-color:aqua;
}


img {
    margin-right: 10%;
    margin-top: 1%;
    width: 10%;
    height: 2%;
}


button {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 13%;
    
}

video {
    margin-left: 1%;
    width: 31%;
    height: 30%;

}

#end {
    text-align: center;
}
